{:paths ["src" "resources"]
 :deps {babashka/fs {:mvn/version "0.5.30"}
        babashka/process {:mvn/version "0.6.24"}
        io.mattilsynet/design {:mvn/version "2.2.29.38"}
        no.cjohansen/powerpack {:mvn/version "2025.10.22"}
        org.clojure/clojure {:mvn/version "1.12.3"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :build {:exec-fn digitavlen.export/export!}}}
