name: Build and deploy Digitavlen

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 4 * * 1'
  push:
    branches:
      - main

env:
  BOT_ICON: ":desktop_computer:"
  BOT_NAME: "Digitavlen"

permissions:
  id-token: write
  contents: read

concurrency: ci

jobs:
  configure:
    runs-on: ubuntu-latest
    outputs:
      sha: ${{ steps.sha.outputs.sha }}
      slack-message: ${{ steps.slack.outputs.message-id }}
    steps:
      - uses: actions/checkout@v5
      - name: Get deployment sha
        id: sha
        run: echo "sha=$(cut -c 1-10 <<< ${{ github.sha }})" >> $GITHUB_OUTPUT
      - name: Notify build start
        id: slack
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          text: ":sponge: Visker tavlen ren …"
          bot-icon: "${{ env.BOT_ICON }}"
          bot-name: "${{ env.BOT_NAME }}"

  test:
    runs-on: ubuntu-latest
    needs:
      - configure
    steps:
      - name: Notify testing
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":female-scientist: Tester kvaliteten på krittet …"
          bot-icon: "${{ env.BOT_ICON }}"
          bot-name: "${{ env.BOT_NAME }}"
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 1.12.1.1550
      - name: Cache maven build deps
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-clojure-test-${{ hashFiles('deps.edn') }}
          restore-keys: |
            ${{ runner.os }}-clojure-test
      - name: Test
        run: bin/kaocha

  build:
    runs-on: ubuntu-latest
    needs:
      - configure
    steps:
      - name: Notify build
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":camera_with_flash: Snapshotting projects …"
          bot-icon: "${{ env.BOT_ICON }}"
          bot-name: "${{ env.BOT_NAME }}"
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 1.12.1.1550
      - name: Cache maven build deps
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-clojure-build-${{ hashFiles('deps.edn') }}
          restore-keys: |
            ${{ runner.os }}-clojure-build
      - name: Configure git with PAT for MT-repos
        run: |
          git config --global url.'https://${{ secrets.PAT_ALL_MT_REPOSITORIES }}@github.com/mattilsynet/'.insteadOf 'https://github.com/mattilsynet/'
      - name: Build docker image
        run: make docker
      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          create_credentials_file: true
          workload_identity_provider: projects/799884623953/locations/global/workloadIdentityPools/gh-actions/providers/github
          service_account: artifacts-wi-sa-github-actions@artifacts-352708.iam.gserviceaccount.com
      - name: Log in to Google Artifact Registry (GAR)
        uses: docker/login-action@v3
        with:
          registry: europe-north1-docker.pkg.dev/artifacts-352708
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
      - name: Notify publish
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":window: Peeking through the looking glass …"
          bot-icon: "${{ env.BOT_ICON }}"
          bot-name: "${{ env.BOT_NAME }}"
      - name: Publish docker image
        run: make publish

  deploy:
    runs-on: ubuntu-latest
    needs:
      - configure
      - build
    name: Deployer vha Cloud Run
    steps:
      - name: Notify publish
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":abacus: Beregner og vurderer …"
          bot-icon: "${{ env.BOT_ICON }}"
          bot-name: "${{ env.BOT_NAME }}"
      - name: Checkout
        uses: actions/checkout@v5
      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          create_credentials_file: true
          workload_identity_provider: projects/793610620698/locations/global/workloadIdentityPools/gh-actions/providers/github
          service_account: cloudrun-wi-sa-github-actions@digitavlen-7599.iam.gserviceaccount.com
      - name: Deploying
        uses: google-github-actions/deploy-cloudrun@v3
        with:
          project_id: digitavlen-7599
          region: europe-north1
          service: digitavlen
          image: europe-north1-docker.pkg.dev/artifacts-352708/mat/digitavlen:${{ needs.configure.outputs.sha }}

  notify-success:
    runs-on: ubuntu-latest
    needs:
      - configure
      - test
      - deploy
    if: success()
    steps:
      - name: Notify build & push success
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":teacher: Grafene er ferdig tegnet på tavla"
          bot-icon: "${{ env.BOT_ICON }}"
          bot-name: "${{ env.BOT_NAME }}"

  notify-failure:
    runs-on: ubuntu-latest
    needs:
      - configure
      - test
      - deploy
    if: failure()
    steps:
      - name: Notify failure
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":boom: Krittet knakk!"
          bot-icon: "${{ env.BOT_ICON }}"
          bot-name: "${{ env.BOT_NAME }}"
